@font-face {
    font-family: Montserrat-Bold;
    src: url('fonts/Montserrat-Bold');
    src: url('../fonts/Montserrat-Bold.otf') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Montserrat-ExtraBold;
    src: url('../fonts/Montserrat-ExtraBold.otf');
    src: url('fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.otf');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face{
	font-family: icomoon;
	src: url('fonts/icomoon.eot');
	src: url('fonts/icomoon.svg');
	src: url('fonts/icomoon.ttf');
	src: url('fonts/icomoon.woff');
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat-Regular', sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding: 185px 3% 534px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
a {
    color: #fff;
    text-decoration: none;
}
.nav-bar {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 100%;
    padding: 69px 3%;
}
.v-nav:before, .v-nav:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}
.nav-container {
    width: 100%;
    max-width: 1140px;
}
.v-container {
    margin-left: auto;
    margin-right: 240px;
    max-width: 940px;
}
.nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.v-nav-menu {
    position: relative;
    float: right;
}
.v-button{
    padding: 15px 44px;
    border-radius: 31px;
    background-color: #FF3DAC;
    font-family: 'Montserra-Regular', sans-serif;
    color: #fff;
    font-size: 18px;
}
.nav-link{
    margin-right: 40px;
    font-family: 'Montserra-Regular', sans-serif;
    color: #fff;
    font-size: 18px;
}

.v-container:before, .w-container:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}
.v-container:after {
    clear: both;
}
.container-flex {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1240px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.v-paragraph {
    max-width: 1384px;
    margin-bottom: 48px;
    font-family: 'Montserrat-ExtraBold', sans-serif;
    color: #fff;
    font-size: 60px;
    line-height: 1.4;
    font-weight: 400;
    text-align: center;
}
.invite-wrap {
    position: relative;
    margin-top: 65px;
}
.ivt-section {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin-top: -71px;
    padding: 60px 9%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.ivt-block {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -8px;
    margin-bottom: -1px;
    padding: 46px 70px 61px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 24px;
    background-color: #181818;
    max-width: 714px;
}
.ivt-form{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.form-wrapper{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.content-ivt {
    max-width: 700px;
    margin-right: 0px;
    margin-bottom: 35px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    clear: none;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 28px;
    text-align: center;
}
h2 {
    margin-top: 0px;
    margin-bottom: 16px;
    color: #fff;
    font-size: 42px;
    line-height: 1.1;
    font-weight: 700;
}
.sub-input {
    width: 316px;
    height: 58px;
    margin-right: 12px;
    margin-bottom: 0px;
    padding-left: 27px;
    border-radius: 29px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 15px;
    border: none;
} 
.sub-button{
    margin-top: 0px;
    padding: 16px 45px;
    border-radius: 100px;
    background-color: #FF3DAC;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #fff;
    font-size: 15px;
    line-height: 21px;
    border: none;
}

.sub-done{
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #dddddd;
}
.footer-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 3% 128px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer-container {
    display: -ms-grid;
    display: grid;
    width: 100%;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    grid-template-areas: ".";
    -ms-grid-columns: 1.5fr 29px 1.5fr 29px 1.5fr 29px 1.5fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    justify-items: center;
}
.start {
    justify-self: start;
}
.end {
    justify-self: end;
}
.footer-title {
    margin-bottom: 40px;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #fff;
    font-size: 30px;
}
.footer-link {
    display: block;
    margin-bottom: 16px;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #fff;
    /* font-size: 20px; */
    line-height: 24px;
    text-decoration: none;
}
.footer-link-blok i{
    
    float: left;
    color: #fff;
    margin-right: 28px;
    font-size: 18px;
    
}
.copyright
{
    align-items: center;
    color: #fff;
    text-align: center;
    line-height: 63px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 16px;
}
footer {
    width: 100%;
    height: 63px;
    background: #333333;
    align-items: center;
    position: absolute;
}
.mb-90{
    margin-bottom: 92px;
}
.mb-40{
    margin-bottom: 40px;
}
.mt-60{
    margin-top: 60px;
}
@media screen and (max-width: 991px){
    .footer-section {
        overflow: hidden;
    }
    .footer-content {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width: 479px){
    .header {
        padding-bottom: 258px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(https://global-uploads.webflow.com/6053732…/60540a6…_Website%20background%20-%20recur.jpg);
        background-image: linear-gradient(
    180deg
    , rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://global-uploads.webflow.com/6053732…/60540a6…_Website%20background%20-%20recur.jpg);
        background-position: 0px 0px, 50% 50%;
        background-size: auto, 100% 100%;
        background-repeat: repeat, no-repeat;
        background-attachment: scroll, scroll;
    }
    .nav-bar {
        padding-right: 3px;
        padding-left: 3%;
        padding: 40px 3%;
    }
    .button { 
    margin-right: 15px;
    padding: 10px 35px;
    border-radius: 20px;
    background-color: #FF3DAC;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 15px;
    }
    .v-paragraph {  
        font-size: 18px; 
    }
    /* .ivt-section {
        margin-top: -59px;
        padding-top: 0px;
        padding-bottom: 0px;
    } */
    .ivt-block{
        margin-top: 4px;
        margin-right: -28px;
        margin-left: -28px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: #181818;
    }
    .container-flex{
        padding: 0 3%;
    }
    .content-ivt {
        margin-top: 0px;
        font-size: 28px;
    }
    .invite-wrap{
        margin: 65px 3%;
    }
    .ivt-form {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .form-wrapper {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .footer-right-block {
        -ms-grid-columns: 1.5fr;
        grid-template-columns: 1.5fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }
    .img-wr {
        position: static;
        width: 50%;
    }
    .ivt-block {
        margin-top: 4px;
        margin-right: -28px;
        margin-left: -28px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: #181818;
    }
    .sub-input{
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .sub-button {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
        background-color: #FF3DAC;
    }
    .footer-container {
        -ms-grid-columns: 1.5fr;
        grid-template-columns: 1.5fr;
        -ms-grid-rows: auto;
        grid-row-gap: 40px;
        justify-items: start;
    }
    .end {
        justify-self: start;
    }
    .footer-link-blok i{
        margin-right: 10px;
        font-size: 16px;
    }
    .footer-title{
        font-size: 25px;
    }
    .copyright{
        font-size: 14px;
    }

}
